/*
@font-face {
    src: url('fonts/fallout-webfont.woff2') format('woff2'), url('fonts/fallout-webfont.woff') format('woff');
    font-family: 'gothic821_cn_btregular';
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #1f1f1f;
    color: white;
    font-weight: normal;
    font-size: 180%;
    font-family: monospace;
}

a:link {
    color: #0cbe0c;
}

a:visited {
    color: #447c44;
}

a:active {
    color: #80ff00;
}

header {
    text-align: center;
}

h3 {
    color: #BD9D30;
}

h4 {
    color: #BD9D30;
}

h5 {
    color: #BD9D30;
}

.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.symbol img {
    width: 1.2%;
    height: auto;
}

.codebox {
    background-color: #3A3B3C;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: monospace;
}

.codepopup {
    background-color: #474757;
    margin-left: 350px;
    margin-right: 20%;
}
*/

header {
  text-align: center;
  font-size: 120%;
}

h3 {
  color: #bd9d30;
}

h4 {
  color: #bd9d30;
}

h5 {
  color: #bd9d30;
}

a:link {
  color: #0cbe0c;
  text-decoration: none;
}

a:visited {
  color: #447c44;
}

a:active {
  color: #80ff00;
}

.TableOfContents {
  text-align: center;
}

ol {
  padding-left: 5%;
  counter-reset: item;
  list-style-type: none;
}

li {
  padding-left: 40%;
}

ol li::before {
  counter-increment: item;
  content: counters(item, ".") ". ";
}

body {
  background-color: #1f1f1f;
  color: white;
  font-weight: normal;
  font-size: 120%;
  font-family: monospace;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

pre {
  padding-top: 1%;
  margin-left: -10%;
}

code {
  background-color: #3a3b3c;
  display: block;
}

.codepre {
  white-space: pre-line;
  margin-top: -4%;
  margin-left: 2%;
  margin-right: 5%;
  margin-bottom: -2.5%;
}

.codepopup {
  background-color: #474757;
  margin-left: 26%;
  margin-right: 10%;
}

.symbol img {
  width: 1.2%;
  height: auto;
}

.dyeoperator {
  color: #dad181;
}

.dyedefine {
  color: #e55451;
}

.dyestatement {
  color: #4368ff;
}

.dyeprocedure {
  color: #f5deb3;
}

.dyefunctionorange {
  color: #ffa500;
}

.dyestandardmacro {
  color: #ffd700;
}

.dyecomment {
  color: #7a7b7a;
}

.dyeheader {
  color: #6ac582;
}

.dyedevelopermacro {
  color: #a974bc;
}

.dyehardcoded {
  color: #7de1e0;
}
