/*
@font-face {
    src: url('fonts/fallout-webfont.woff2') format('woff2'), url('fonts/fallout-webfont.woff') format('woff');
    font-family: 'gothic821_cn_btregular';
    font-weight: normal;
    font-style: normal;
}
*/

html {
  scroll-behavior: smooth;
}

.grid-container {
  display: grid;
  grid-template-columns: 15%  100%;  
  grid-template-areas: 
    'sidebar main ';
}

.item-sidebar {
  grid-area: sidebar;
  font-size: 0.6vw;
}

.item-main {
  grid-area: main;
  font-size: 0.8vw;
  hyphens: auto; 
	text-align: justify
  text-align-last: none;
}

/*
.item-codesnippet {
  grid-row: auto;
  background-color: #3a3b3c;
  padding: 1%;
}
*/



img {
  max-width: 100%;
  height: auto;
}

div.sticky {
  position: fixed;
  top: 20%;
  
}

/*
img.sticky {
  width: 5%;
  height: auto;
  margin-left: 3%;
}*/

header {
  text-align: center;
  font-size: 120%;
}

h3 {
  color: #bd9d30;
}

h4 {
  color: #bd9d30;
}

h5 {
  color: #bd9d30;
}





a:link {
  color: #0cbe0c;
  text-decoration: none;
}

a:visited {
  color: #447c44;
}

a:active {
  color: #80ff00;
}





ol {
  margin-left: -15%;
  counter-reset: item;
  list-style-type: none;
}

ol.first {
 margin-left: -10%;
}

ol li::before {
  counter-increment: item;
  content: counters(item, ".") ". ";
}




body {
  background-color: #1f1f1f;
  color: white;
  font-weight: normal;
  font-family: monospace;
  width: 85%;
  /*margin-left: px;
  margin-right: auto;*/
}





pre {
  padding-top: 1%;
  margin-left: -20%;
}

code {
  background-color: #3a3b3c;
  display: block;
}

.codepre {
  white-space: pre-line;
  margin-top: -4%;
  margin-left: 2%;
  margin-right: 5%;
  margin-bottom: -2.5%;
}

.codepopup {
  background-color: #474757;
  margin-left: 26%;
  margin-right: 10%;
}





.dyeoperator {
  color: #dad181;
}

.dyedefine {
  color: #e55451;
}

.dyestatement {
  color: #4368ff;
}

.dyeprocedure {
  color: #f5deb3;
}

.dyefunction {
  color: #ffa500;
}

.dyestandardmacro {
  color: #ffd700;
}

.dyecomment {
  color: #7a7b7a;
}

.dyeheader {
  color: #6ac582;
}

.dyedevelopermacro {
  color: #a974bc;
}

.dyehardcoded {
  color: #7de1e0;
}